html{
    border: 2px solid #ccc;
    height: calc(100% - 4px);}
  body{height: 100%}
  body {user-select: none; overflow: hidden; margin: 0;  font-family: sans-serif;}
  
  .config{display: none;}
  .welcome{display: none1;}

  #status-bar{text-align: center; position: absolute; left: 0; bottom: 0; height: 30px; width: 100%; 
              color: #ccc; z-index: 100; background: #555; transition: height 2.0s;}
  #status-message{top: 50%; width: 100%;  position: absolute;}
  .offline #status-message, .offline .ml-logo, .ready #status-message, .ready .ml-logo{opacity: 0;}
  .wait #status-message, .wait .ml-logo{opacity: 1;}
  .notready #status-message, .notready .ml-logo{opacity: 1;}

  .status-icon{position: absolute; right: 20px; bottom: 10px; height: 10px; width: 10px; background: #ccc; border-radius: 5px;}
  .ready .status-icon{background-color: #76f11c}
  .wait .status-icon{background-color: #f1c51c}
  .offline .status-icon{background-color: #aaa}
  .notready .status-icon{background-color: #e06969}

  #status-bar.ready, #status-bar.offline{height: 30px;}
  #status-bar.wait{height: 100%;}
  #status-bar.notready{height: calc(100% - 60px);}
  .version{position: absolute; left: 20px; bottom: 0; line-height: 30px; color: #f0f0f0; font-size: 10px;}

  .ml-logo{
    width: 100%;
    background: url(./images/logo.png) no-repeat center;
    background-size: contain;
    height: 80px;}

  .loading-widget {
    display: none;
    width: 200px;
    top: calc(50% + 50px);
    background: #333;
    border: 1px solid #555;
    height: 20px;
    position: absolute;
    left: calc(50% - 100px);
  }
    .loading-bar {
      width: 0;
      top: 0;
      background: #72b761;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .loading-glow-stick {
      left: 0;
      width: 1px;
      top: 0;
      background: #5fea3d;
      height: 20px;
      position: absolute;
      box-shadow: 0 0 7px #1aef3d;
      z-index: 100000;
    }


  #menu-button{display: none;}
  #update-button{display: none;}
  .button{font-size: 14px; font-weight: bold; text-transform: uppercase; text-decoration: none; padding: 5px 10px;}
  a.button:hover{color: #555; background-color: #ccc}
  .close{position: absolute; left: 20px; top: 20px; color: #aaa;}
  .back{position: absolute; right: 20px; top: 20px; color: #aaa;}
  .update{position: absolute; right: 20px; top: 20px; color: #129c09; }
  .add{
    color: rgb(79, 177, 110);
    border: 1px solid;
    border-color: rgba(106, 144, 102, 0.48);
    }

  input{font-size: 14px; padding: 5px 10px; margin: 10px;}
  .col6{width: 50%; float: left; margin-top: 50px;}

  .center{text-align: center;}

  .vertical-line{ position: absolute; width: 1px; height: 100%; left: 50%; background: #ddd}
  
  .welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .welcome .col12{    width: 530px; text-align: center;}

  .welcome a.item {
    position: relative;
    width: 136px;
    height: 122px;
    outline: 1px solid #eee;
    margin: 10px;
    display: inline-flex;
    padding: 10px;
    }
  .welcome a.item:hover {
    cursor: pointer;
    background: #fafafa;
    box-shadow: 0 0 20px rgba(255, 192, 192, 0.5);
    }
  .welcome a>.title{text-align: center; width: 100%; text-transform: uppercase; color: #646464;}
  .welcome a.item>.icon{
    position: absolute;
    width: 75px;
    height: 75px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .icon.policlinic{
    background: url('./images/policlinic.png'); 
    background-size: cover;
    background-repeat: no-repeat;}
  .icon.traumatology{
    background: url('./images/traumatology.png');  
    background-size: cover;
    background-repeat: no-repeat;}

  .welcome a>.params{
    position: absolute;
    bottom: 5px;
    text-align: center;
    font-size: 10px;
    width: 100%;
    left: 0;
    color: #b0b0b0 !important;
  }
  .welcome a span{margin-right: 5px; }

  .config ul>li{list-style:  square; margin-bottom: 15px;}
  .config li>span,.config li>b{
    font-size: 13px;
    color: #777; }
  .config li>span{margin-right: 15px; }
  
  form{padding-bottom: 25px;}


.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #e33;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}



/* ANIMATION */
  .loading{   
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgb(233, 255, 249, 0);
    left: 0;
    top: 0;
    transition: all 1.0s;
  }
  .loading.dark{
    background: rgb(233, 255, 249);
    /* background: rgb(85,85,85); */
  }
  .loading.light{
    background: rgb(233, 255, 249);
  }
.cube-folding {
  position: absolute;
  left: 12.5px;
  top: 37.5px;
  width: 50px;
  height: 50px;
  display: inline-block;
  font-size: 0;
}
.cube-folding span {
  position: absolute;
  width: 25px;
  height: 25px;
  display: inline-block;
}
.cube-folding span::before {
  content: '';
  background-color: #f76363;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 25px;
  transform-origin: 100% 100%;
  -moz-animation: folding 3.2s infinite cubic-bezier(0.6, 0.01, 0.4, 1) both;
  -webkit-animation: folding 3.2s infinite cubic-bezier(0.6, 0.01, 0.4, 1) both;
  animation: folding 3.2s infinite cubic-bezier(0.6, 0.01, 0.4, 1) both;
}
.cube-folding .leaf2 {
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.cube-folding .leaf2::before {
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.cube-folding .leaf3 {
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.cube-folding .leaf3::before {
  -moz-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.cube-folding .leaf4 {
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cube-folding .leaf4::before {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.cube-folding .leaf5 {
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.cube-folding .leaf5::before {
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@-moz-keyframes folding {
  0%, 10% {
    transform-origin: 0% 0%;
    -moz-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -moz-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform-origin: 100% 100%;
    -moz-transform: perspective(140px) rotateX(180deg);
    transform: perspective(140px) rotateX(180deg);
    opacity: 0;
  }
}
@-webkit-keyframes folding {
  0%, 10% {
    transform-origin: 0% 0%;
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform-origin: 100% 100%;
    -webkit-transform: perspective(140px) rotateX(180deg);
    transform: perspective(140px) rotateX(180deg);
    opacity: 0;
  }
}
@keyframes folding {
  0%, 10% {
    transform-origin: 0% 0%;
    -moz-transform: perspective(140px) rotateX(-180deg);
    -ms-transform: perspective(140px) rotateX(-180deg);
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -moz-transform: perspective(140px) rotateX(0deg);
    -ms-transform: perspective(140px) rotateX(0deg);
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform-origin: 100% 100%;
    -moz-transform: perspective(140px) rotateX(180deg);
    -ms-transform: perspective(140px) rotateX(180deg);
    -webkit-transform: perspective(140px) rotateX(180deg);
    transform: perspective(140px) rotateX(180deg);
    opacity: 0;
  }
}
.cube-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  text-align: center;
}
