html{
    border: 2px solid #ccc;
    height: calc(100% - 4px);}
  body{height: 100%}
  body {user-select: none; overflow: hidden; margin: 0;  font-family: sans-serif;}
  
  .config{
	  	display: none;
		position: absolute;
		top: 0px;
		left: 0px;
		width: calc(100% - 40px);
		height: calc(100% - 40px);
		padding: 20px;
		background: rgb(255, 255, 255);
	}
	.config form a{
		margin: auto;
		margin-top: 20px;
		width: 90px;
		display: block;
	}
	.config h3 {
		padding-top: 20px;
	  	text-align: center;
	}
	.config form {
		padding: 20px;
		border: 1px solid #e6e6e6;
		border-radius: 10px;
	}
	.config label {
		width: 100px !important;
		text-align: right;
	  	display: inline-block;
	}
	.config .form-group {
	  	margin-top: 10px;
	}
	.config input {
		border: 1px solid #ccc;
	  	margin: 0;
	}
	.config .form-group>div {
	  	display: inline-block;
	}
	.config.disabled .form-group input, .config.disabled .form-group #host, .config.disabled #save-url{    
		background-color: #ddd;
		pointer-events: none;
	}


  .welcome{display: none;}

  #status-bar{text-align: center; position: absolute; left: 0; bottom: 0; height: 30px; width: 100%; 
              color: #ccc; z-index: 100; background: #555; transition: height 2.0s;}
  #status-message{top: 50%; width: 100%;  position: absolute;}
  .offline #status-message, .offline .ml-logo, .ready #status-message, .ready .ml-logo{opacity: 0;}
  .wait #status-message, .wait .ml-logo{opacity: 1;}
  .notready #status-message, .notready .ml-logo{opacity: 1;}

  .status-icon{position: absolute; right: 20px; bottom: 10px; height: 10px; width: 10px; background: #ccc; border-radius: 5px;}
  .ready .status-icon{background-color: #76f11c}
  .wait .status-icon{background-color: #f1c51c}
  .offline .status-icon{background-color: #aaa}
  .notready .status-icon{background-color: #e06969}

  #status-bar.ready, #status-bar.offline{height: 30px;}
  #status-bar.wait{height: 100%;}
  #status-bar.notready{height: calc(100% - 60px);}
  .version{position: absolute; left: 20px; bottom: 0; line-height: 30px; color: #f0f0f0; font-size: 10px;}

  .ml-logo{
    width: 100%;
    background: url(./images/logo.png) no-repeat center;
    background-size: contain;
    height: 80px;}

	.progressbar-widget {
		display: none;
		position: absolute;
		width: 200px;
		bottom: 10px;
		left: calc(50% - 100px);
		height: 20px;
	  }
		.progressbar-widget > .title {
			font-size: 10px;
			line-height: 20px;
			height: 20px;
			width: 200px;
			overflow: hidden;
			}
		.progressbar-widget > .holder {
			position: absolute;
			width: 200px;
			height: 4px;
			bottom: 0;
			background: #888;
			}
		.progressbar-widget > .holder > .bar {
			position: absolute;
			width: 0;
			height: 4px;
			top: 0;
			background: #ccc;
		}

  .loading-widget {
    display: none;
    width: 200px;
    top: calc(50% + 50px);
    background: #333;
    border: 1px solid #555;
    height: 20px;
    position: absolute;
    left: calc(50% - 100px);
  }
    .loading-bar {
      width: 0;
      top: 0;
      background: #72b761;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .loading-glow-stick {
      left: 0;
      width: 1px;
      top: 0;
      background: #5fea3d;
      height: 20px;
      position: absolute;
      box-shadow: 0 0 7px #1aef3d;
      z-index: 100000;
    }


  /* #menu-button{display: none;} */
  #update-button{display: none;}
  .button{font-size: 14px; font-weight: bold; text-transform: uppercase; text-decoration: none; padding: 5px 10px; color: #777;}
  .close{position: absolute; left: 20px; top: 20px; color: #aaa;}
  .back{position: absolute; right: 20px; top: 20px; color: #aaa;}
  .update{position: absolute; right: 20px; bottom: 40px; color: #129c09; }
  #menu-button.green{color: #129c09; } 
  #menu-button.green > svg{fill: #129c09; } 
  a.button:hover{color: #555; background-color: #ccc}
  a.button:hover > svg{fill: #555 !important; }
  .add{
    color: rgb(79, 177, 110);
    border: 1px solid;
    border-color: rgba(106, 144, 102, 0.48);
    }

  input{font-size: 14px; padding: 5px 10px; margin: 10px;}
  .col6{width: 50%; float: left; margin-top: 50px;}

  .center{text-align: center;}

  .vertical-line{ position: absolute; width: 1px; height: 100%; left: 50%; background: #ddd}
  
  .welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .welcome .col12{    width: 530px; text-align: center;}

  .welcome a.item {
    position: relative;
	width: 90%;
    height: 130px;
    outline: 1px solid #eee;
    margin: 10px;
    display: inline-flex;
    padding: 10px;
    }

	.welcome a.item.disabled {
		pointer-events: none;
		cursor: default;
		}
		.welcome .item>.overlay {
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: #eeeeee77;
		}
		.welcome .item.disabled > .overlay {
			display: block;
		}

  .welcome a.item:hover {
    cursor: pointer;
    background: #fafafa;
    }
  .welcome a>.title{text-align: center; width: 100%; text-transform: uppercase; color: #646464;}
  .welcome a.item>.icon{
    position: absolute;
    width: 75px;
    height: 75px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .welcome a.item>.params{
    position: absolute;
	bottom: 0;
	right:0;
	font-size: 70%;
   	color: #555;
  }
  .welcome a.item>.params > b{
	margin-left: 10px;
  	color: #999;
  }
  .welcome a.item>.params > span{
	margin-left: 5px;
  }

  .icon.policlinic{
    background: url('./images/policlinic.png'); 
    background-size: cover;
    background-repeat: no-repeat;}
  .icon.traumatology{
    background: url('./images/traumatology.png');  
    background-size: cover;
    background-repeat: no-repeat;}

  .welcome a>.params{
    position: absolute;
    bottom: 5px;
    text-align: center;
    font-size: 10px;
    width: 100%;
    left: 0;
    color: #b0b0b0 !important;
  }
  .welcome a span{margin-right: 5px; }

  .config ul>li{list-style:  square; margin-bottom: 15px;}
  .config li>span,.config li>b{
    font-size: 13px;
    color: #777; }
  .config li>span{margin-right: 15px; }
  
  form{padding-bottom: 25px;}


.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #e33;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}



/* ANIMATION */
.loading{   
display: none ;
/* position: absolute; */
width: 100%;
height: 100%;
z-index: 10;
background: rgb(233, 255, 249, 0);
left: 0;
top: 0;
transition: all 1.0s;
}
.loading.dark{
background: rgb(233, 255, 249);
/* background: rgb(85,85,85); */
}
.loading.light{
background: rgb(233, 255, 249);
}
.cube-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -50px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
	text-align: center;
}

.cube-folding {
  position: absolute;
  left: 12.5px;
  top: 37.5px;
  width: 50px;
  height: 50px;
  display: inline-block;
  font-size: 0;
}
.cube-folding span {
  position: absolute;
  width: 25px;
  height: 25px;
  display: inline-block;
}
.cube-folding span::before {
  content: '';
  background-color: #f76363;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 25px;
}
.loading .cube-folding span::before {
  transform-origin: 100% 100%;
  animation: folding 3.2s infinite cubic-bezier(0.6, 0.01, 0.4, 1) both;
}
.cube-folding.shake {
	transform-origin: 75% 25%;
	animation: shake 4s infinite ease-in-out;
}
.cube-folding.float {
	transform-origin: 75% 25%;
	animation: float 4s infinite ease-in-out;
}
.cube-folding.spin {
	transform-origin: 75% 25%;
	animation: spin 4s infinite ease-in-out;
}

.cube-folding .leaf2 {
  transform: translateX(-95%);
}
.loading .cube-folding .leaf2::before {
  animation-delay: 0.3s;
}
 .cube-folding .leaf3 {
  transform: translateX(95%);
}
.loading .cube-folding .leaf3::before {
  animation-delay: 0.9s;
}
 .cube-folding .leaf4 {
  transform: translateY(-95%);
}
.loading .cube-folding .leaf4::before {
  animation-delay: 0.6s;
}
 .cube-folding .leaf5 {
  transform: translateY(95%);
}
.loading .cube-folding .leaf5::before {
  animation-delay: 1.2s;
}


@keyframes folding {
  0%, 10% {
    transform-origin: 0% 0%;
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform-origin: 100% 100%;
    transform: perspective(140px) rotateX(180deg);
    opacity: 0;
  }
}

@keyframes float {
	0% { transform: translateY(0) }
	33.33333% { transform: translateY(-6px) }
	66.66667% { transform: translateY(0) }
	100% { transform: translateY(0) }
}
@keyframes shake {
	0% { transform:rotate(0deg) }
	8.69565% { transform:rotate(24deg) }
	15.65217% { transform:rotate(-24deg) }
	17.39131% { transform:rotate(-24deg) }
	24.34782% { transform:rotate(24deg) }
	26.08696% { transform:rotate(24deg) }
	33.04348% { transform:rotate(-24deg) }
	34.78261% { transform:rotate(-24deg) }
	41.73913% { transform:rotate(24deg) }
	43.47826% { transform:rotate(24deg) }
	50.43478% { transform:rotate(-24deg) }
	52.17391% { transform:rotate(-24deg) }
	59.13044% { transform:rotate(24deg) }
	65.21739% { transform:rotate(0deg) }
	100% { transform:rotate(0deg) }
}
@keyframes spin {
  0% { transform:rotate(0deg) }
  80% { transform:rotate(360deg) }
  100% { transform:rotate(360deg) }
}


.ip-input-container > input {padding: 0;}